<app-elevated-card
  [image2]="elevatedCardInfo.image2"
  [buttonTitle]="elevatedCardInfo.buttonTitle"
  [title]="elevatedCardInfo.title"
  [description]="elevatedCardInfo.description"
></app-elevated-card>

<!-- flags -->
<app-flags></app-flags>

<!-- about pluz group -->
<app-about-pluz-group
  [image1]="'/assets/img/home/About1.png'"
  [image2]="'/assets/img/home/About2.png'"
  [image3]="'/assets/img/home/About3.png'"
  [image4]="'/assets/img/home/About4.png'"
></app-about-pluz-group>

<app-carousel></app-carousel>

<div class="flex w-full justify-center py-10">
  <div class="border-gray-custom/20 flex w-full max-w-2xl justify-center border-y">
    <!-- Card 1 -->
    <div class="border-gray-custom/20 flex flex-col items-center border-r p-8 px-18">
      <h2 class="text-2xl font-bold text-gray-900">10,000+</h2>
      <p class="mt-1 text-sm text-gray-500">Delivered Projects</p>
    </div>

    <!-- Vertical Divider -->

    <!-- Card 2 -->
    <div class="flex flex-col items-center p-8 px-18">
      <h2 class="text-2xl font-bold text-gray-900">10,000+</h2>
      <p class="mt-1 text-sm text-gray-500">Delivered Projects</p>
    </div>
  </div>
</div>

<div class="mx-auto max-w-full px-4 py-16">
  <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
    <!-- LEFT IMAGE -->
    <div class="col-span-1">
      <img
        src="/assets/img/home/Blog1.png"
        alt="Mission Image"
        class="h-full w-full rounded-xl object-cover"
      />
    </div>

    <!-- RIGHT SIDE CONTENT -->
    <div class="col-span-2 h-full">
      <div class="flex h-full flex-col justify-between gap-4">
        <!-- Mission -->
        <div
          class="border-gray-custom/10 flex-1 rounded-xl border bg-linear-to-b from-white to-green-100 p-14 shadow"
        >
          <h2 class="mb-2 text-2xl font-semibold">Mission</h2>
          <p class="text-sm leading-relaxed text-gray-700">
            Lorem Ipsum Dolor Sit Amet Consectetuer. Faucibus Quam Ut Ultricies Nisl. Est Tristique
            Ut Pharellas Eu Tincidunt Aliquam Eget. Aliquet Vulputate Quam Mauro Vestibulum. Purus
            Finibus Et Et Porta Nam. Aliquam A Pharetra Congue Donec Imperdiet Ac.
          </p>
        </div>

        <!-- Vision -->
        <div
          class="border-gray-custom/10 flex-1 rounded-xl border bg-linear-to-b from-white to-green-100 p-14 shadow"
        >
          <h2 class="mb-2 text-2xl font-semibold">Vision</h2>
          <p class="text-sm leading-relaxed text-gray-700">
            Lorem Ipsum Dolor Sit Amet Consectetuer. Faucibus Quam Ut Ultricies Nisl. Est Tristique
            Ut Pharellas Eu Tincidunt Aliquam Eget. Aliquet Vulputate Quam Mauro Vestibulum. Purus
            Finibus Et Et Porta Nam. Aliquam A Pharetra Congue Donec Imperdiet Ac.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-ultra-reliable></app-ultra-reliable>

<div class="flex w-full justify-center py-10">
  <div class="grid w-full max-w-full grid-cols-1 gap-8 px-4 md:grid-cols-4">
    <div
      class="rounded-xl border border-gray-300 bg-[linear-gradient(120deg,#ffffff_60%,#d7f7d7_100%)] px-10 py-10 shadow-sm"
    >
      <h2 class="text-green-custom text-xl font-bold">10,000+</h2>
      <p class="mt-1 text-sm text-gray-600">Delivered Projects</p>
    </div>

    <div
      class="rounded-xl border border-gray-300 bg-[linear-gradient(120deg,#ffffff_60%,#d7f7d7_100%)] px-10 py-10 shadow-sm"
    >
      <h2 class="text-green-custom text-xl font-bold">10,000+</h2>
      <p class="mt-1 text-sm text-gray-600">Delivered Projects</p>
    </div>

    <div
      class="rounded-xl border border-gray-300 bg-[linear-gradient(120deg,#ffffff_60%,#d7f7d7_100%)] px-10 py-10 shadow-sm"
    >
      <h2 class="text-green-custom text-xl font-bold">10,000+</h2>
      <p class="mt-1 text-sm text-gray-600">Delivered Projects</p>
    </div>

    <div
      class="rounded-xl border border-gray-300 bg-[linear-gradient(120deg,#ffffff_60%,#d7f7d7_100%)] px-10 py-10 shadow-sm"
    >
      <h2 class="text-green-custom text-xl font-bold">10,000+</h2>
      <p class="mt-1 text-sm text-gray-600">Delivered Projects</p>
    </div>
  </div>
</div>

<app-blog></app-blog>

<app-contact></app-contact>
