<div class="mx-auto mt-10 flex w-full max-w-full flex-col items-center justify-center">
  <!-- Tabs -->
  <div class="mb-8 flex max-w-6xl min-w-3xl justify-around">
    @for (item of tabs; let i = $index; track $index) {
      @if (item == 'Accessories') {
        @if (product.accesories && product.accesories.length > 0) {
          <div
            class="flex w-full items-center justify-center"
            [class]="i == 2 ? 'border-gray-custom border-l' : ''"
          >
            <button
              class="border-b-2 px-6 py-3 text-lg font-medium transition-all"
              [class.border-green-600]="activeTab() === item"
              [class.border-white]="activeTab() != item"
              [class.text-green-600]="activeTab() === item"
              (click)="activeTab.set(item)"
            >
              {{ item }}
            </button>
          </div>
        }
      } @else {
        <div
          class="flex w-full items-center justify-center"
          [class]="i == 1 ? 'border-gray-custom border-l' : ''"
        >
          <button
            class="border-b-2 px-6 py-3 text-lg font-medium transition-all"
            [class.border-green-600]="activeTab() === item"
            [class.border-white]="activeTab() != item"
            [class.text-green-600]="activeTab() === item"
            (click)="activeTab.set(item)"
          >
            {{ item }}
          </button>
        </div>
      }
    }
  </div>
  @if (activeTab() === 'Overview') {
    <div class="grid grid-cols-1 gap-10 lg:grid-cols-8">
      <div class="flex items-center gap-4 lg:flex-col">
        <div
          *ngFor="let img of product.productOverView.extraProductImages"
          class="flex h-20 w-20 cursor-pointer items-center justify-center overflow-hidden rounded-lg border transition-all"
          [class.border-green-custom]="selectedImage() === img"
          (click)="changeImage(img)"
        >
          <img [src]="img" class="h-full object-contain" />
        </div>
      </div>

      <div class="col-span-3 flex w-full items-center rounded-xl border p-4">
        <img [src]="selectedImage()" class="h-full object-contain" />
      </div>

      <!-- Right: Product Description -->
      <div class="col-span-4">
        <div class="flex h-full flex-col justify-between py-4">
          <div>
            <h2 class="mb-4 text-2xl font-bold text-green-700">Product Description</h2>

            <p class="mb-6 leading-relaxed text-gray-700" [innerHTML]="product.description"></p>
          </div>
          @if (product.productOverView.otherDetails) {
            <div *ngFor="let group of product.productOverView.otherDetails | keyvalue" class="mb-6">
              <h3 class="mb-2 text-lg font-semibold">{{ group.key }}</h3>

              <ul
                class="ml-5 space-y-1 text-gray-700"
                [class]="
                  product.productOverView.otherDetailPointType == 'Number'
                    ? 'list-decimal'
                    : 'list-disc'
                "
              >
                <li *ngFor="let point of group.value">{{ point }}</li>
              </ul>
            </div>
          }
          @if (product.productOverView.extraInfo) {
            <div>
              <p class="mb-6 leading-relaxed text-gray-700">
                {{ product.productOverView.extraInfo }}
              </p>
            </div>
          }

          <!-- Download Button -->
          <div>
            <button
              pButton
              label="Download"
              class="bg-green-custom! rounded-lg border-none px-5 py-2 text-white"
            ></button>
          </div>
        </div>
      </div>
    </div>
  } @else if (activeTab() === 'Specs') {
    @for (item of product.specs.images; track $index) {
      <div class="mb-8 flex items-center justify-center">
        <h2 class="mb-4 text-3xl font-bold">{{ item.title }}</h2>
      </div>
      <div class="mb-8 flex items-center justify-center">
        @if (tableSelecter == 'workshop-press') {
          <app-ehpm-table
            [data]="product.specs.table"
            [headers]="product.specs.tableHeaderInfo"
          ></app-ehpm-table>
        } @else if (tableSelecter == 'type-press') {
          <app-ptp-table
            [data]="product.specs.table"
            [headers]="product.specs.tableHeaderInfo"
          ></app-ptp-table>
        } @else if (tableSelecter == 'protable-repair-hydraulic-bench') {
          <app-prhb-table
            [data]="product.specs.table"
            [headers]="product.specs.tableHeaderInfo"
          ></app-prhb-table>
        } @else if (tableSelecter == 'house-coupling-machine') {
          <app-hcm-table
            [data]="product.specs.table"
            [headers]="product.specs.tableHeaderInfo"
          ></app-hcm-table>
        }
      </div>
    }
  } @else if (activeTab() === 'Accessories') {
    <div class="w-full max-w-4xl">
      @for (item of product.accesories; track $index) {
        <div class="grid grid-cols-3 items-center border">
          <!-- Left: Title -->
          <div class="text-center text-lg font-semibold text-green-700">
            {{ item.title }}
          </div>

          <!-- Middle: Bullet Points -->
          @if (product.accesoriesType == 'point') {
            <ul class="border-gray-custom col-span-1 space-y-1 border-x py-4">
              @for (point of item.points; track point) {
                <li class="ml-5 list-disc text-right text-sm" [innerHTML]="point"></li>
              }
            </ul>
          } @else {
            <div
              class="border-gray-custom col-span-1 flex h-full items-center justify-center space-y-1 border-x py-4"
            >
              <div class="">
                @for (point of item.points; track point) {
                  <p class="ml-5 list-disc text-right text-sm" [innerHTML]="point"></p>
                }
              </div>
            </div>
          }

          <!-- Right: Image -->
          <div class="border-gray-custom flex justify-center">
            <img [src]="item.image" class="max-h-32 object-contain" />
          </div>
        </div>
      }
    </div>
  }
  @if (activeTab() === 'Overview') {
    <div class="my-10 w-full">
      <!-- When bottomDescription is a string -->
      @if (isString(product.bottomDescription)) {
        <div>
          <p class="px-4 text-center leading-relaxed text-gray-700">
            {{ product.bottomDescription }}
          </p>
        </div>
      }

      <!-- When bottomDescription is an object -->
      @if (isObject(product.bottomDescription)) {
        <div *ngIf="isObject(product.bottomDescription)" class="mx-auto max-w-4xl">
          <h2 class="mb-4 text-center text-2xl font-bold text-green-700">
            {{ product.bottomDescription.title }}
          </h2>

          <ul class="ml-6 list-disc space-y-2 text-gray-700">
            <li *ngFor="let point of product.bottomDescription.points">
              {{ point }}
            </li>
          </ul>
        </div>
      }
    </div>
  }
  @if (product.footprint) {
    <div class="mt-10 flex w-full flex-col items-center">
      <!-- Title -->
      <h2 class="mb-4 text-xl font-bold text-gray-800 md:text-2xl">
        {{ product.footprintTitle }}
      </h2>

      <!-- Box container -->
      <div class="flex w-full max-w-4xl justify-center rounded-md bg-white p-4 shadow-sm">
        <p-image
          [src]="product.footprint"
          [alt]="product.footprintTitle"
          class="max-h-[420px] w-full object-contain"
        ></p-image>
      </div>
    </div>
  }
</div>
