<div class="flex w-full items-center justify-center lg:mb-36">
  <div class="relative w-350">
    <div
      class="absolute top-0 left-0 w-full -translate-y-[25%] rounded-3xl bg-white p-6 shadow-2xl"
    >
      <div class="flex max-h-180 min-h-140 w-full justify-between gap-10 rounded-2xl bg-white p-10">
        <!-- LEFT CONTACT BOX -->
        <div class="flex flex-col justify-between space-y-6 rounded-xl bg-[#2d2d2d] p-8 text-white">
          <div class="space-y-3">
            <h2 class="text-2xl font-semibold">Reach at us</h2>
            <p class="text-gray-300">Say something to start a live chat!</p>

            <div class="flex items-center gap-3">
              <i class="pi pi-phone text-lg"></i>
              <span>+971 15223 11085</span>
            </div>

            <div class="flex items-center gap-3">
              <i class="pi pi-envelope text-lg"></i>
              <span>help&#64;pluz-group.com</span>
            </div>

            <div class="flex items-start gap-3">
              <i class="pi pi-map-marker text-lg"></i>
              <span>
                YousifAbd Compass building <br />
                AI Habab Industrial Zone-FZ, Ras AI Khaimah, UAE
              </span>
            </div>
          </div>

          <!-- Social icons -->
          <div class="mt-4 flex items-center gap-4">
            <i class="pi pi-facebook cursor-pointer text-xl"></i>
            <i class="pi pi-twitter cursor-pointer text-xl"></i>
            <i class="pi pi-instagram cursor-pointer text-xl"></i>
            <i class="pi pi-youtube cursor-pointer text-xl"></i>
          </div>
        </div>

        <!-- RIGHT FORM -->
        <div class="flex flex-1 flex-col">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="h-full">
            <div class="flex h-full flex-col justify-between">
              <div class="grid grid-cols-1 space-y-16 space-x-12 lg:grid-cols-2">
                <div class="flex h-full flex-col justify-center">
                  <label class="text-md text-gray-custom mb-1 font-semibold">First Name</label>
                  <input
                    type="text"
                    class="text-gray-custom border-0 border-b border-gray-300 p-0 font-semibold focus:border-gray-300 focus:ring-0 focus:outline-none"
                    placeholder="First Name"
                    formControlName="firstName"
                  />
                </div>
                <div class="flex h-full flex-col justify-center">
                  <label class="text-md text-gray-custom mb-1 font-semibold">Last Name</label>
                  <input
                    type="text"
                    class="text-gray-custom border-0 border-b border-gray-300 p-0 font-semibold focus:border-gray-300 focus:ring-0 focus:outline-none"
                    placeholder="Last Name"
                    formControlName="lastName"
                  />
                </div>
                <div class="flex h-full flex-col justify-center">
                  <label class="text-md text-gray-custom mb-1 font-semibold">Email</label>
                  <input
                    type="text"
                    class="text-gray-custom border-0 border-b border-gray-300 p-0 font-semibold focus:border-gray-300 focus:ring-0 focus:outline-none"
                    placeholder="Email"
                    formControlName="email"
                  />
                </div>
                <div class="flex h-full flex-col justify-center">
                  <label class="text-md text-gray-custom mb-1 font-semibold">Phone Number</label>
                  <input
                    type="text"
                    class="text-gray-custom border-0 border-b border-gray-300 p-0 font-semibold focus:border-gray-300 focus:ring-0 focus:outline-none"
                    placeholder="Phone Number"
                    formControlName="phone"
                  />
                </div>
              </div>

              <div class="">
                <h3 class="mb-2 font-semibold">Product Interested in?</h3>

                <div class="flex flex-wrap gap-4">
                  <div class="flex items-center gap-1">
                    <p-checkbox
                      class="rounded-full"
                      name="product"
                      label="Product Name 1"
                      value="1"
                      formControlName="product"
                      inputId="product1"
                    ></p-checkbox>
                    <label class="text-center font-medium" for="product1">Product Name</label>
                  </div>

                  <div class="flex items-center gap-1">
                    <p-checkbox
                      class="rounded-full"
                      name="product"
                      label="Product Name 1"
                      value="2"
                      formControlName="product"
                      inputId="product2"
                    ></p-checkbox>
                    <label class="text-center font-medium" for="product2">Product Name</label>
                  </div>

                  <div class="flex items-center gap-1">
                    <p-checkbox
                      class="rounded-full"
                      name="product"
                      label="Product Name 1"
                      value="3"
                      formControlName="product"
                      inputId="product3"
                    ></p-checkbox>
                    <label class="text-center font-medium" for="product3">Product Name</label>
                  </div>

                  <div class="flex items-center gap-1">
                    <p-checkbox
                      class="rounded-full"
                      name="product"
                      label="Product Name 1"
                      value="4"
                      formControlName="product"
                      inputId="product4"
                    ></p-checkbox>
                    <label class="text-center font-medium" for="product4">Product Name</label>
                  </div>
                </div>
              </div>

              <div class="flex flex-col">
                <label class="text-md text-gray-custom mb-1 font-semibold">Message</label>
                <input
                  type="text"
                  class="text-gray-custom border-0 border-b border-gray-300 p-0 font-semibold focus:border-gray-300 focus:ring-0 focus:outline-none"
                  placeholder="Write your message.."
                  formControlName="message"
                />
              </div>

              <div class="flex justify-end md:col-span-2">
                <button
                  pButton
                  label="Send a message"
                  class="bg-green-custom! hover:bg-green-custom! rounded-lg border-none px-6 py-3 text-white shadow-md"
                ></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="h-100"></div>
<!-- MAP SECTION -->
<div class="my-16 w-full text-center">
  <h2 class="mb-6 text-2xl font-bold">PluzGroup Headquarter</h2>

  <div class="flex justify-center">
    <iframe
      class="h-[400px] w-[90%] max-w-6xl rounded-xl shadow"
      loading="lazy"
      allowfullscreen
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.5581234567!2d72.8776559!3d19.0759837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDA0JzMzLjUiTiA3MsKwNTInMzkuNiJF!5e0!3m2!1sen!2sin!4v1234567890123!5m2!1sen!2sin"
    >
    </iframe>
  </div>
</div>

<div class="my-24 w-full text-center">
  <div class="flex h-140 w-[full] flex-col items-center justify-center">
    <div class="my-16">
      <h2 class="text-2xl font-bold">World Wide Presence</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur. Proin tempus consectetur pellentesque auctor. Mauris
        venenatis tellus it.
      </p>
    </div>
    <!-- Background Map -->
    <img src="/assets/img/footer.png" class="h-full w-full object-contain" />
  </div>
</div>
