html {
  width: 100vw;
  height: 100vh;
  // overflow-x: hidden; /* Keep horizontal hidden */
  // overflow-y: hidden; /* Allow vertical scroll */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
}
