<div class="mt-6 w-full p-4 lg:mt-16 lg:p-0">
  <h2 class="mb-6 text-2xl font-bold">Ultra-Reliable, Safe & Precise Tools for</h2>
  <div class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    @for (item of industries; track $index) {
      <div class="group relative h-180 cursor-pointer overflow-hidden rounded-2xl">
        <!-- Image -->
        <img
          [src]="item.image"
          class="h-full w-full object-cover transition-all duration-500 group-hover:scale-105 group-hover:brightness-75"
        />

        <!-- Overlay shadow -->
        <div class="absolute inset-0 bg-black/20 transition-all group-hover:bg-black/30"></div>

        <!-- Top-right icon -->
        <button
          class="absolute top-4 right-4 rounded-full bg-white/80 p-2 shadow-md backdrop-blur transition hover:bg-white"
        >
          <i class="pi pi-arrow-up-right text-red-600"></i>
        </button>

        <!-- Center Title -->
        <h2
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-2xl font-semibold text-white"
        >
          {{ item.title }}
        </h2>

        <!-- Bottom Button -->
        <button
          pButton
          label="Know more"
          class="bg-green-custom! hover:bg-green-custom! absolute bottom-20 left-1/2 -translate-x-1/2 rounded-md border-none! px-6 py-2 font-semibold text-white shadow-md transition-all"
        ></button>
      </div>
    }
  </div>
</div>
