@import './assets/themes/fonts/_fonts.scss';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --color-gray-custom: #333333;
  --color-green-custom: #008001;
}

@layer base {
  body {
    @apply font-Montserrat;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-inter;
  }
}