@import './assets/themes/fonts/_fonts.scss';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --color-gray-custom: #333333;
  --color-green-custom: #008001;
}

@layer base {
  body {
    @apply font-Montserrat;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-inter;
  }
}

.p-checkbox .p-checkbox-box {
  @apply flex h-5 w-5 items-center justify-center rounded-full;
}

.p-checkbox .p-checkbox-box.p-highlight {
  @apply rounded-full;
}

.p-checkbox .p-checkbox-box::before {
  @apply rounded-full;
}