<div class="">
  <!-- Title -->
  <h2 class="mb-4 text-3xl font-bold">About The Pluz Group</h2>

  <!-- Grid Section -->
  <div class="grid w-full grid-cols-1 gap-x-6 lg:grid-cols-2">
    <!-- Large Left Box -->
    <div class="group relative h-106 cursor-pointer overflow-hidden rounded-xl lg:col-span-1">
      <img
        [src]="image1"
        class="h-full w-full object-cover transition duration-500 group-hover:scale-105"
      />
      <div class="absolute bottom-0 w-full p-6 text-xl font-semibold text-white">
        Powering Heavy Industry Forward
      </div>
    </div>

    <div class="grid grid-cols-2 gap-6 lg:grid-cols-2 lg:grid-rows-2">
      <!-- Right Top Box -->
      <div
        class="group relative h-50 cursor-pointer overflow-hidden rounded-xl lg:col-span-2 lg:row-span-1"
      >
        <img
          [src]="image2"
          class="h-full w-full object-cover transition duration-500 group-hover:scale-105"
        />
        <div class="absolute bottom-0 w-full p-4 text-lg font-semibold text-white">
          Engineering Excellence, Delivered
        </div>
      </div>

      <!-- Right Bottom Small Boxes -->
      <div
        class="group relative h-50 cursor-pointer overflow-hidden rounded-xl lg:col-span-1 lg:row-span-1"
      >
        <img
          [src]="image3"
          class="h-full w-full object-cover transition duration-500 group-hover:scale-105"
        />
        <div class="text-md absolute bottom-0 w-full p-4 font-semibold text-white">
          Global Reach, Local Support
        </div>
      </div>

      <div
        class="group relative h-50 cursor-pointer overflow-hidden rounded-xl lg:col-span-1 lg:row-span-1"
      >
        <img
          [src]="image4"
          class="w-full object-cover transition duration-500 group-hover:scale-105"
        />
        <div class="text-md absolute bottom-0 w-full p-4 font-semibold text-white">
          Sustainability in Motion
        </div>
      </div>
    </div>
  </div>
</div>
